.container {
    height: 100vh ;
    font-size: 40px;
    font-weight: 400;
    width: 100vw;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://dynaimage.cdn.cnn.com/cnn/w_1600/https%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F181115180453-01-mars-best-moments-mars-globe-valles-marineris-enhanced.jpg");
    background-repeat: no-repeat
    
}
