.container {
    height: 100vh ;
    font-size: 40px;
    font-weight: 400;
    width: 100vw;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../img/mars_notfound.png');
    background-repeat: no-repeat;
    text-align: center;
    
       
}

.head {    
    font-size: 26px;
    padding-left: 50px;   
    padding-right: 50px;  
    margin: 0px; 
}

.reason {   
    font-size: 16px;
    padding-left: 70px;   
    padding-right: 70px; 
}

p::first-letter {
    text-transform: uppercase;
  }