.container {
    height: 100vh ;
    width: 100vw;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/OSIRIS_Mars_true_color.jpg/1024px-OSIRIS_Mars_true_color.jpg');
    background-repeat: no-repeat
    
    
}

.text {
    padding-left: 50%;
    padding-right: 50px;
}