
.container {
    height: 100vh ;
    width: 100vw;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../img/01_insight_mars_express_view_of_cerberus_fossae\ 1.png");
    
    
    
}

.text {
    font-size: 20px;
    padding-right: 50%;
    padding-left: 200px;
    padding-bottom: 10px;
}

@media (max-width: 1279px) { 
    .text {   
        font-size: 20px;   
        padding-right: 200px;
        padding-left: 50%;
            }
      
 }

h1{
    padding-top: 200px;
    font-size: 60px;
    padding-right: 50%;
    padding-left: 200px;
    
}

@media (max-width: 1279px) { 
    h1 {   
        font-size: 40px;
        padding-top: 0px;   
        padding-right: 200px;
        padding-left: 50%;
            }
      
 }