.footer {
    background-color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    box-shadow: 5px 0 5px rgba(0,0,0,0.5);
    position: relative;
    width: 100vw;
    
   
    
}